{% block boolean_widget %}
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        {% for choice in choices %}
            <label class="btn btn-primary {% if choice is selectedchoice(value) %} active{% endif %}">
                <input {{ block('widget_attributes') }} type="radio" value="{{ choice.value }}" {% if choice.attr %}{% with { attr: choice.attr } %}{{ block('attributes') }}
                            {% endwith %}{% endif %}{% if choice is selectedchoice(value) %} checked="checked"{% endif %}"> {{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}
            </label>
        {% endfor %}
    </div>
{% endblock %}

{%- block custom_range_widget -%}
    {% set type = type|default('range') %}
    {%- set required = false -%}
    <div class="form-group">
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %}"/>
        <input type="number" class="form-control" id="{{ id }}_value_show">
    </div>
    <script type="text/javascript">
        const range_slider_{{ id }} = document.getElementById("{{ id }}");
        const output_{{ id }} = document.getElementById("{{ id }}_value_show");
        output_{{ id }}.value = range_slider_{{ id }}.value;
        range_slider_{{ id }}.oninput = function() {
            output_{{ id }}.value = this.value;
        };
        output_{{ id }}.oninput = function () {
            range_slider_{{ id }}.value = this.value;
        };
    </script>
{%- endblock custom_range_widget %}
