{% extends 'dashboard/index.html.twig' %}

{% block title %}Dashboard :: Ftp server list{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('ftp_server_list') }}">Ftp Server</a></li>
    <li class="breadcrumb-item active">{{ breadcrumb|default('List ftp servers') }}</li>
{% endblock %}

{% block content %}
    <div class="navbar navbar-expand-lg bg-light navbar-light">
        <div class="navbar-collapse justify-content-end">
            <a href="{{ path('ftp_server_add') }}" class="btn btn-sm btn-success">ADD NEW</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Host or ip</th>
            <th scope="col">Port</th>
            <th scope="col">Use ssl</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for server in servers %}
            <tr>
                <th scope="row">{{ server.id }}</th>
                <td>{{ server.title }}</td>
                <td>{{ server.ip }}</td>
                <td>{{ server.port }}</td>
                <td>
                    {% set badge_type = server.useSsl ? 'success' : 'danger' %}
                    {% set badge_text = server.useSsl ? 'YES' : 'NO' %}
                    <span class="badge badge-{{ badge_type }}">{{ badge_text }}</span>
                </td>
                <td>
                    <div class="btn-group btn-group-sm float-right" role="group" aria-label="Controls">
                        <a href="{{ path('ftp_server_cache_files', {'id': server.id}) }}" class="btn btn-secondary btn-sm">CACHE FILES</a>
                        <a href="{{ path('ftp_server_edit', {'id': server.id}) }}" class="btn btn-primary btn-sm">EDIT</a>
                        <a data-title="Deleting ftp server" href="{{ path('ftp_server_delete', {'id': server.id}) }}" class="delete btn btn-danger btn-sm">DELETE</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/jquery-confirm.min.css') }}">
    <style>
        label.required:after {
            color: crimson;
            content: " *";
        }
        label {
            font-weight: bold;
        }
        form:after {
            color: chocolate;
            font-size: 11px;
            content: 'Fields with * are mandatory';
        }
        div.form-group > div > small {
            font-size: 10px;
        }
    </style>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/jquery-confirm.min.js') }}"></script>
    <script type="text/javascript">
        $('a.delete').confirm();
    </script>
{% endblock %}
