<ul class="navbar-nav d-lg-block">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('dashboard') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
           data-target="#settings" aria-controls="settings">Settings</a>
        <div id="settings" class="collapse">
            <ul class="nav nav-small flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('ftp_server_list') }}">Ftp Servers</a>
                </li>
            </ul>
        </div>
    </li>
    {% for server in get_servers() %}
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
           data-target="#manage" aria-controls="manage">{{ server.title }}</a>
        <div id="manage" class="collapse">
            <ul class="nav nav-small flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('assist_rules', {'id': server.id}) }}">Assist Rules</a>
                    <a class="nav-link" href="#">Entry List</a>
                    <a class="nav-link" href="#">Event</a>
                    <a class="nav-link" href="#">Configuration</a>
                    <a class="nav-link" href="{{ path('settings', {'id': server.id}) }}">Settings</a>
                </li>
            </ul>
        </div>
    </li>
    {% endfor %}
</ul>
